<% @page_title = "Display completed work" %>
<%= link_to("<< Back to home", {:controller => 'home', :action => 'index'}, :class => 'back-link') %>

<div class="chores index">
	<h2>Work accepted</h2>



</div>