<% @page_title = "Depost" %>
<%= link_to("<< Back to transactions", {:action => 'transactions'}, :class => 'back-link') %>

<h1>Deposit money into you wallet</h1>
<p>Contact support in chat to purchase netals for use in this system.<br>
Later you can buy using other methods, like online bank, paypal etc.<br>
Please contact support via chat in this app if you want to make a deposit.<br>
Also be sure to come with suggestions and ideas for what functionality you want. <br>
Thank you!


</p>
